.hero.hero--primary {
    color: white !important;
}

.hero.hero--primary a.button:not(:hover) {
    color: white !important;
}

section.homepage-logos {
    background: hsla(123, 25%, 90%, 1);
    padding: 15px 0;
}

section.homepage-logos .trusted {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: hsla(124, 50%, 12%, 1);
    white-space: nowrap;
    line-height: 32px;
    margin-right: 40px;
}

section.homepage-logos .container {
    display: flex;
    align-items: flex-start;
}

section.homepage-logos .container .trusted-logos {
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 1072px) {
    section.homepage-logos .trusted-logos > * {
        margin-bottom: 12px;
    }
    section.homepage-logos {
        padding-bottom: 3px;
    }
    section.homepage-logos .container .trusted-logos {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 640px) {
    section.homepage-logos .trusted {
        display: block;
        line-height: 16px;
        margin-bottom: 10px;
    }
    section.homepage-logos .container {
        display: block;
    }
}
section.homepage-logos .container .trusted-logos > * {
    margin-right: 40px;
    opacity: 0.8;
    filter: grayscale(0.9);
}
section.homepage-logos .container .trusted-logos > *:hover {
    opacity: 1;
    filter: none;
}
@media screen and (max-width: 350px) {
    section.homepage-logos .container .trusted-logos > * {
        margin-right: 25px;
    }
}

section.homepage-logos .container .trusted-logos > *:last-child {
    margin-right: 0;
}
section.homepage-logos a {
    height: 32px;
    display: inline-block;
}
section.homepage-logos img {
    height: 30px;
}

section.homepage-logos img.navirec {
    margin-top: 2px;
    width: 110px;
    height: 30px;
}
section.homepage-logos .posthog {
    margin-top: 1px;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    line-height: 30px;
    white-space: nowrap;
    width: 110px;
    min-width: 110px;
}
section.homepage-logos .posthog > img {
    width: 24px;
    height: 30px;
    vertical-align: top;
}
section.homepage-logos .posthog > span {
    padding-left: 10px;
    line-height: 30px;
}
section.homepage-logos img.elastic {
    width: 93px;
    height: 32px;
}
section.homepage-logos img.gsmtasks {
    margin-top: 1px;
    width: 140px;
    height: 24px;
    margin-bottom: 6px;
}
section.homepage-logos img.smart {
    margin-top: 1px;
    width: 92px;
    height: 30px;
}
section.homepage-logos img.apprentus {
    margin-top: 2px;
    width: 169px;
    height: 30px;
}

.homepage-testimonials {
    background: hsl(220, 9%, 93%);
    padding: 50px 0;
    color: #1c1e21 !important;
}

html[data-theme="dark"] .homepage-testimonials {
    background: hsla(220, 9%, 14%, 1);
    color: hsla(216, 8%, 95%, 1) !important;
}

.homepage-testimonials .avatar__photo {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

html[data-theme="dark"] .homepage-testimonials .avatar__photo {
    box-shadow: none;
}

svg.feature-foundations path,
svg.feature-interconnected path,
svg.feature-sparks-joy path:nth-child(1),
svg.feature-sparks-joy path:nth-child(3),
svg.feature-sparks-joy path:nth-child(4) {
    fill: hsla(123, 12%, 8%, 1);
}
svg.feature-sparks-joy path:nth-child(2) {
    stroke: hsla(123, 12%, 8%, 1);
}

html[data-theme="dark"] svg.feature-foundations path,
html[data-theme="dark"] svg.feature-interconnected path,
html[data-theme="dark"] svg.feature-sparks-joy path:nth-child(1),
html[data-theme="dark"] svg.feature-sparks-joy path:nth-child(3),
html[data-theme="dark"] svg.feature-sparks-joy path:nth-child(4) {
    fill: hsla(219, 14%, 90%, 1);
}
html[data-theme="dark"] svg.feature-sparks-joy path:nth-child(2) {
    stroke: hsla(219, 14%, 90%, 1);
}
